<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals App</title>
</head>
<body>
    <nav>
        <button>
        <a href="animals/new">Add an animal</a>
        </button>
    </nav>
    <h1>Animals App</h1>
    <ul>
        <% animals.forEach(animal => { %>
            <li>
                <a href="/animals/<%= animal._id %>" >
                <%= animal.species %>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>